/* globals */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  font-size: 16px;
}

section {
  border: 1px solid black;
}

/* utils */

.Centered {
  text-align: center;
}

.App {
  display: flex;

  flex-direction: column;
}

.App section:nth-child(even) {
  background: grey
}

/* section */

.PanelHero {
  background-size: cover;
  padding: 3em 0 4.5em;
  position: relative;
}

/*
.PanelHero:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}
*/

/* .PanelHero h1 {
  font-size: 36px;
  text-transform: uppercase;
}

.PanelHero h1,
.PanelHero h2 {
  font-weight: 300;
}

.PanelHero h1 span {
  font-weight: 800;
} */

.PanelHero h3 {
  background: #50E3C2;
}